#uwelcome {
  background-color: violet;
}
#welcome {
  text-align: center;
  background-color: lime;
  font-family: arial, serif;
  font-weight: 500;
  color: black;
  border: 10px purple;
  margin: 20px;
  padding: 10px;
}
#who {
  text-align: center;
  font-family: arial, serif;
  font-weight: 300;
  color: black;
  border: 20px violet;
}
